@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px 64px; /* Adjust the margin as needed */
  /* background-image: url('/bg.png');
  background-size: cover;
  background-position: center;
  height:auto;
  width: 100vw; */
}

@media (max-width: 768px) {
  body {
    margin: 0 8px; /* Margin for screens smaller than 768px */
  }
}